body {
    background-color: #c1bdba;
    font-family: SansSerif, sans-serif;
    font-size: 15px;
    color: #ffffff;
}

header{
    background-color: #24323d;
    height: 200px;
    margin: 0;
    padding: 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

header h1{
    font-size: 40px;
    text-align: center;
}

#logOutLink{
    width: 80px;
    height: 22px;
    float: right;
    text-align: center;
    padding: 16px 0 10px;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:active, a:visited, a:link {
    color: #ffffff;
}

a.grey {
    background-color: #435259;
    color: #798790;
}

a.green {
    background-color: #1ab188;
}

form {
    background-color: #24323d;
    display: inline-block;
    width: 385px;
    height: 385px;
    border-radius: 4px;
    margin: 8px 30px;
    padding: 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

form a {
    width: 50%;
    height: 22px;
    text-align: center;
    padding: 16px 0 10px;
}

form input {
    background-color: inherit;
    color: #ffffff;
    border: 1px solid #798790;
    border-radius: 0;
    margin: 15px 0;
    display: inline-block;
    width: 95%;
    height: 15px;
    padding: 10px;

}

form input[type="text"] {
    display: inline-block;
    width: 42%;
    background-color: inherit;
    border: 1px solid #798790;
    border-radius: 0;
}

form input[type="text"]:nth-of-type(2) {
    float: right;
}

form input[type="submit"] {
    border: none;
    background-color: #1ab188;
    border-radius: 0;
    height: 60px;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    font-family: "Ubuntu Mono", SansSerif, sans-serif;
}

form h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
}

/*styling placeholders*/
input[type="text"]::-webkit-input-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: -25px 35px;
    background-color: #24323d;
}

input[type="text"]::-moz-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: 8% 50%;
    background-color: #24323d;
}

input[type="text"]:-moz-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: 8% 50%;
    background-color: #24323d;
}

input[type="text"]:-ms-input-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: 9% 50%;
    background-color: #24323d;
}

input[type="email"]::-webkit-input-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: 0% 50%;
    background-color: #24323d;
}

input[type="email"]::-moz-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: -15% 50%;
    background-color: #24323d;
}

input[type="email"]:-moz-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: -15% 50%;
    background-color: #24323d;
}

input[type="email"]:-ms-input-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: 0% 50%;
    background-color: #24323d;
}

input[type="password"]::-webkit-input-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: -23% 50%;
    background-color: #24323d;
}

input[type="password"]::-moz-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: -45% 50%;
    background-color: #24323d;
}

input[type="password"]:-moz-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: -45% 50%;
    background-color: #24323d;
}

input[type="password"]:-ms-input-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: -23% 50%;
    background-color: #24323d;
}

#logIn input[type="password"]::-webkit-input-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: 65% 50%;
    background-color: #24323d;
}

#logIn input[type="password"]::-moz-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: -45% 50%;
    background-color: #24323d;
}

#logIn input[type="password"]:-moz-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: -45% 50%;
    background-color: #24323d;
}

#logIn input[type="password"]:-ms-input-placeholder {
    font-size: 15px;
    color: #798790;
    background-image: url("Satr.png");
    background-position: -23% 50%;
    background-color: #24323d;
}

div.message {
    color: #ff0000;
}

div.empty {
    margin: 70px 0;
}